name: Wake Streamlit App

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  wake:
    runs-on: ubuntu-latest
    steps:
      - name: Curl Streamlit app
        run: curl -sS https://forgialean-control-tower.streamlit.app
